  body 
  {
    margin: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 120%;
    background-color: #cee9ff;
  }

  button
  {
    padding: 15px 32px;
    background-color: #ecf6fd;
    border-radius: 5px;
    border:none;
  }

  button:hover {
    border-style: solid;
    padding: 12px 29px;
    border-color: white;
  }

  input
  {
    padding: 5px 10px;
    border-radius: 5px;
    border:none;
  }

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 16px;
    text-align: left;
  }
